name=twitter-source
connector.class=com.eneco.trading.kafka.connect.twitter.TwitterSourceConnector
tasks.max=1
topic=test
twitter.consumerkey=(e0zsGWfHMRR9L7ENGymY2xuBF)
twitter.consumersecret=(YdlhLyW2hziujvzv9TPpMHK16ytBB4JqC2xnYhraNEle4KBykK)
twitter.token=(907830153383997440-b0PgHyW7VcrLYVPz26nEgbyQ8VICUjm)
twitter.secret=(1KecfRVJXgEFVDjstEgCaIk1tGG2yh1DZvbGxJvmV0l9Y)

# set output.format to string to output string key/values, it defaults to structured
#output.format=string

# language=en,ru,de
# stream.type=sample
# stream.type=filter
# track.terms=news,music,hadoop,clojure,scala,fp,golang,python,fsharp,cpp,java
# San Francisco OR New York City
#track.locations=-122.75,36.8,-121.75,37.8,-74,40,-73,41
# bbcbreaking,bbcnews,justinbieber
# track.follow=5402612,612473,27260086
